body {
    padding-top: 100px;
    background-color: #E3DCD2;
    color: #013328;
}
.navbar {
    background-color: #CC8B65;
    position: fixed;
}

.navbar-brand {
    color: #E3DCD2;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23013328' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
    color: #E3DCD2;
}

.navbar-nav .nav-link:hover {
    background-color: #013328;
    border-radius: 4px;
}

.navbar-nav .nav-link.active {
    background-color: #013328;
    border-radius: 4px;
}

.dropdown-item:hover{
    background-color: #013328;
    color: #E3DCD2;
}

.dropdown-item{
    background-color: #343a40;
    color: #E3DCD2;
}

.dropdown-menu{
    background-color: #343a40;
    color: #E3DCD2
}
  
.footer {
    background-color: rgb(16, 12, 13);
    color: #E3DCD2;
    text-align: center;
    padding: 20px 0;
}
